---
layout: layout
---

@using Pretzel.Categories;

@{
    var categories = Model.Site.GetCategoryPages();
}

<div class="row">
    <div class="col-md-8 blog-main">
        @Raw( Model.Content )
    </div>
    <aside class="col-md-4 blog-aside">
        <div class="aside-widget">
            <header>
                <h3>Post Categories</h3>
            </header>
            <div class="body">
                <ul class="clean-list">
                    @foreach( var key in categories.Keys )
                    {
                        <li>
                            <a href="@(key.Url)">@(key.Title)</a>
                            @if( categories[key].Any() )
                            {
                                <ul class="clean-list">
                                    @foreach( var subCategory in categories[key] )
                                    {
                                        <li>
                                            <a href="@(subCategory.Url)">@(subCategory.Title)</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </aside>
</div>
