---
layout: layout
---

@using Pretzel.Categories;

@{
    var categories = Model.Site.GetCategoryPages();
}

<div class="row">
    <div class="col-md-8 blog-main">
        @Raw( Model.Content )
    </div>
    <aside class="col-md-4 blog-aside">
        <div class="aside-widget">
            <header>
                <h3>Post Categories</h3>
            </header>
            <div class="body">
                <ul class="clean-list">
                    @foreach( var topLevelCategory in categories )
                    {
                        <li>
                            <a href="@(topLevelCategory.Url)">@(topLevelCategory.Page.Title)</a>
                            @if( topLevelCategory.SubCategories.Any() )
                            {
                                <ul class="clean-list">
                                    @foreach( var subCategory in topLevelCategory.SubCategories )
                                    {
                                        <li>
                                            <a href="@(subCategory.Url)">@(subCategory.Page.Title)</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </aside>
</div>
