---
layout: layout
---

@using Pretzel.Categories;

@{
    var categories = Model.Site.GetCategoryPages();

    const int numberPosts = 5;
    var recentPosts = Model.Site.Posts.OrderByDescending(
        p => p.Date
    ).Take( numberPosts ).ToArray();
}

<div class="row">
    <div class="col-md-8 blog-main">
        @Raw( Model.Content )
    </div>
    <aside class="col-md-4 blog-aside">
        <div class="aside-widget">
            <header>
                <h3>Post Categories</h3>
            </header>
            <div class="body">
                <ul class="clean-list">
                    @foreach( var topLevelCategory in categories )
                    {
                        <li>
                            <a href="@(topLevelCategory.Url)">@(topLevelCategory.Page.Title)</a>
                            @if( topLevelCategory.SubCategories.Any() )
                            {
                                <ul class="clean-list">
                                    @foreach( var subCategory in topLevelCategory.SubCategories )
                                    {
                                        <li>
                                            <a href="@(subCategory.Url)">@(subCategory.Page.Title)</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="aside-widget">
            <header>
                <h3>Pages</h3>
            </header>
            <div class="body">
                <ul class="clean-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                    <li>
                        <a href="/posts/">Posts</a>
                    </li>
                    <li>
                        <a href="/donate/">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aside-widget">
            <header>
                <h3>Recent Posts</h3>
            </header>
            <div class="body">
                <ul class="clean-list">
                    @foreach( var post in recentPosts )
                    {
                        <li>
                            <a href="@post.Url">@post.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </aside>
</div>
